#char{
    display: block;
    margin: 0 auto;
    border: 3px solid black;
    
}


.sliders {
    width: 300px;
    margin: 20px auto;
    border: 2px solid black;
    padding: 10px 15px;
}

.sliders > div {
	display: flex;
	flex-wrap: nowrap;
}
.sliders > div input {
	flex-grow: 1;
}
.sliders > div label {
	margin-right: 8px;
}

#newColor {
    width: 50px;
    height: 50px;
    display: block;
    border: 3px solid black;
}

a {
    margin: 20px;
}


.zero {
    outline: 1px solid black;
}

#heads {
    padding: 5px;
    margin: 0 auto;
    width: 100%;
    max-width: 840px;
    height: 500px;
    background: rgba(0,0,0,.8);
    border: 3px solid black;
    overflow: auto;
}

#heads::-webkit-scrollbar {  
    display: none;
}

.head {
    float: left;
    padding: 5px;
    margin: 5px;
    background: rgba(53,135,126,1);
    border: 1px solid firebrick;
}

.head:hover {
    border: 1px solid green;
}

.style-controls {
	margin: 20px 0;
	text-align: center;
}